@{
    ViewBag.Title = "About this application";
}
<h2>@ViewBag.Title</h2>

<p>This application shows a list of famous phones released.</p> 
<p>Through this application, we can also learn famous and awesome web development pattern, which is the MVC(Model, View, Controller) pattern</p>
