@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title</h2>

<address>
    Room T3074, Seneca college<br />
    70 The Pond Rd<br />
    North York, ON, M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:klee161@myseneca.ca">klee161@myseneca.ca</a><br />
    <strong>Sale representative:</strong> <a href="mailto:klee161@myseneca.ca">klee161@myseneca.ca</a>
</address>