@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">Implement some of the common interaction patterns in a web app that uses a persistent store</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment3.pdf" target="_blank"  class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

