@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">Build a data model. Implement security. Post to a public web server.</p>
    <p><a href="http://klee161-wa2164a8.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Assignment 8 on Azure</a></p>
</div>
