@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">The objective of Assignment 2 is how to implement some of the common interaction patterns in a web app that uses a persistent store.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment2.pdf" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

